<!DOCTYPE html>
<html lang="es" ng-app="Sucregram">
<head>
	<meta charset="UTF-8">
	<title>Sucregram</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<meta name="theme-color" content="#212121">
	
	<link rel="shortcut icon" href="vendor/img/appLogo.png">
	<!-- Incluir CSS-->
	<link rel="stylesheet" href="vendor/css/materialize.min.css">
	<link rel="stylesheet" href="vendor/css/style.css">
	<!-- Fin CSS-->
</head>
<body>
	<div ng-controller="mainCtrl">
		<header header-directive>
			<h1>Bienvenidos a Sucregram</h1>
		</header>
		<section ng-view>
			<h2>mis vistas</h2>
		</section>
		<footer>
			Sucregram &copy; 2016 </> with ♥ in SucreJS
		</footer>
	</div>

	<!-- Librerias JS -->
	<script src="public/lib/jquery.min.js"></script>
	<script src="public/lib/materialize.min.js"></script>
	<script src="public/lib/angular.todo.min.js"></script>
	<!-- Fin Librerias-->
	
	<script src="public/app.js"></script>
	<!-- Modules -->
	<script src="public/usuario/module.js"></script>
	<!-- Fin Modules -->

	<!-- Route -->
	<script src="public/usuario/config.js"></script>
	<!-- Fin Route -->

	<!-- Service -->
	<script src="public/usuario/service.js"></script>
	<!-- Fin Service -->

	<!-- Directive -->
	<script src="public/main/directive.js"></script>
	<!-- Fin Directive -->

	<!-- Controller -->
	<script src="public/main/controller.js"></script>
	<script src="public/usuario/controller.js"></script>
	<!-- Fin Controller -->


	
	<script src="public/usuario/scripts/index.js"></script>

</body>
</html>