<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>Sucregram</title>
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

  
    <nav class="grey darken-4">
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo center"> <img src="img/titlei.png" class="responsive-img"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Entrar</a></li>
        </ul>
      </div>
    </nav>
<div class="row">
	<div class="col s12 offset-m2 m8">
		<div class="slider">
    <ul class="slides">
      <li>
        <img src="img/kiss.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="img/sole-diego.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="img/benji.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="img/yoga-lenovo.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="img/iphone.png"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>		
	</div>
</div>	
  


<div class="container contenido">
	<div class="row">
		<div class="col s12 m12 offset-l2 l8">
		  <div class="card publicacion">
		  	<!-- imagen y usuario -->
		  	<div class="row valign-wrapper">
		  		<div class="col s2 m1">
		  			<img src="img/sole-diego.jpg" class="img-responsive valign perfil-foto circle" alt="">
		  		</div>
		  		<div class="col s10 m10">
		  			<p class="valign"><span class="usuario" >diego_escalante</span> <span class="grey-text tiempo lighten-2 right">1 h</span></p>
		  		</div>
		  		
		  	</div>
		  	<!-- imagen -->
		  	<div class="row">
		  		<div class="col s12">
		  			<img src="img/sole-diego.jpg" class="responsive-img" alt="">
		  		</div>
		  	</div>
		  	<!-- megusta -->
		  	<div class="row meGusta-row">
		  		<p class="meGusta"><span>55</span> Me gusta</p>
		  	</div>
		  	<!-- comentarios -->
		  	<div class="row comentario-row">
		  		<p class="comentario-p"><b><span class="user">benji_castillo</span></b><span class="comentario"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span></p>
		  		<p class="comentario-p"><b><span class="user">benji_castillo</span></b><span class="comentario"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span></p>
		  		<p class="comentario-p"><b><span class="user">benji_castillo</span></b><span class="comentario"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsum non excepturi iusto cumque veniam earum officiis velit ratione corporis, neque architecto, vero officia pariatur. Voluptatibus, architecto tempora culpa aspernatur! </span></p>
				
		  	</div>
		  	
		  	<div class="row divider-row">
		  		<div class="col offset-s1 s10">
					<div class="divider"></div>	
				</div>
		  	</div>

		  	<div class="row corazon valign-wrapper">
		  		<div class="input-field col s9 m10">
		        	<i class="material-icons grey-text lighten-4 prefix">favorite_border</i>
		         	<input  id="comentario"  onkeyup="activarBoton()"  placeholder="Añade un comentario..." type="text" class="validate">
		        </div>
		        <div class="col s3 m2">
		        	<a id="boton-enviar" class="valign btn-floating disabled"><i  class="material-icons">send</i></a>
		        </div>
		        
		  		<!-- <p ><i class="material-icons">favorite_border</i><input type="text"  placeholder="Añade un comentario..."></p> -->
		  	</div>
		  		
		  	

		  </div>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m12 offset-l2 l8">
		  <div class="card publicacion">
		  	<!-- imagen y usuario -->
		  	<div class="row valign-wrapper">
		  		<div class="col s2 m1">
		  			<img src="img/sucre.png" class="img-responsive valign perfil-foto circle" alt="">
		  		</div>
		  		<div class="col s10 m10">
		  			<p class="valign"><span class="usuario" >benji_Castillo</span> <span class="grey-text tiempo lighten-2 right">1 h</span></p>
		  		</div>
		  		
		  	</div>
		  	<!-- imagen -->
		  	<div class="row">
		  		<div class="col s12">
		  			<img src="img/benji.jpg" class="responsive-img" alt="">
		  		</div>
		  	</div>
		  	<!-- megusta -->
		  	<div class="row meGusta-row">
		  		<p class="meGusta"><span>55</span> Me gusta</p>
		  	</div>
		  	<!-- comentarios -->
		  	<div class="row comentario-row">
		  		<p class="comentario-p"><b><span class="user">benji_castillo</span></b><span class="comentario"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span></p>
		  		<p class="comentario-p"><b><span class="user">benji_castillo</span></b><span class="comentario"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span></p>
		  		<p class="comentario-p"><b><span class="user">benji_castillo</span></b><span class="comentario"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsum non excepturi iusto cumque veniam earum officiis velit ratione corporis, neque architecto, vero officia pariatur. Voluptatibus, architecto tempora culpa aspernatur! </span></p>
				
		  	</div>
		  	
		  	<div class="row divider-row">
		  		<div class="col offset-s1 s10">
					<div class="divider"></div>	
				</div>
		  	</div>

		  	<div class="row corazon valign-wrapper">
		  		<div class="input-field col s9 m10">
		        	<i class="material-icons grey-text lighten-4 prefix">favorite_border</i>
		         	<input  id="comentario"  onkeyup="activarBoton()"  placeholder="Añade un comentario..." type="text" class="validate">
		        </div>
		        <div class="col s3 m2">
		        	<a id="boton-enviar" class="valign btn-floating disabled"><i  class="material-icons">send</i></a>
		        </div>
		        
		  		<!-- <p ><i class="material-icons">favorite_border</i><input type="text"  placeholder="Añade un comentario..."></p> -->
		  	</div>
		  		
		  	

		  </div>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m12 offset-l2 l8">
		  <div class="card publicacion">
		  	<!-- imagen y usuario -->
		  	<div class="row valign-wrapper">
		  		<div class="col s2 m1">
		  			<img src="img/sucre.png" class="img-responsive valign perfil-foto circle" alt="">
		  		</div>
		  		<div class="col s10 m10">
		  			<p class="valign"><span class="usuario" >benji_Castillo</span> <span class="grey-text tiempo lighten-2 right">1 h</span></p>
		  		</div>
		  		
		  	</div>
		  	<!-- imagen -->
		  	<div class="row">
		  		<div class="col s12">
		  			<img src="img/kiss.jpg" class="responsive-img" alt="">
		  		</div>
		  	</div>
		  	<!-- megusta -->
		  	<div class="row meGusta-row">
		  		<p class="meGusta"><span>55</span> Me gusta</p>
		  	</div>
		  	<!-- comentarios -->
		  	<div class="row comentario-row">
		  		<p class="comentario-p"><b><span class="user">benji_castillo</span></b><span class="comentario"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span></p>
		  		<p class="comentario-p"><b><span class="user">benji_castillo</span></b><span class="comentario"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span></p>
		  		<p class="comentario-p"><b><span class="user">benji_castillo</span></b><span class="comentario"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsum non excepturi iusto cumque veniam earum officiis velit ratione corporis, neque architecto, vero officia pariatur. Voluptatibus, architecto tempora culpa aspernatur! </span></p>
				
		  	</div>
		  	
		  	<div class="row divider-row">
		  		<div class="col offset-s1 s10">
					<div class="divider"></div>	
				</div>
		  	</div>

		  	<div class="row corazon valign-wrapper">
		  		<div class="input-field col s9 m10">
		        	<i class="material-icons grey-text lighten-4 prefix">favorite_border</i>
		         	<input    onkeyup="activarBoton()"  placeholder="Añade un comentario..." type="text" class="validate comentario-input">
		        </div>
		        <div class="col s3 m2">
		        	<a  class=" boton-enviar valign btn-floating disabled"><i  class="material-icons">send</i></a>
		        </div>
		        
		  		<!-- <p ><i class="material-icons">favorite_border</i><input type="text"  placeholder="Añade un comentario..."></p> -->
		  	</div>
		  		
		  	

		  </div>
		</div>
	</div>
</div>

	
</body>
<script src="js/jquery.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/index.js"></script>
<script>
	function activarBoton(){
		valor=($(".comentario-input").val());
		
		
		if(valor == ""){
			$(".boton-enviar").addClass("disabled");
				
		}else{
			$(".boton-enviar").removeClass("disabled");
		}


//		$("#icono-enviar").removeClass("grey-text lighten-4 ");
	}
</script>
</html>