<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>Sucregram</title>
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="navbar-fixed">
    <nav class="grey darken-4">
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo center"> <img src="img/titlei.png" class="responsive-img"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Entrar</a></li>
        </ul>
      </div>
    </nav>
  </div>

<div class="container contenido">
	<div class="row">
		<div class="col s12">
			<div class="row">
				<div class="col offset-m1 m4 hide-on-small-only ">
					
  						<img src="img/iphone.png" class="responsive-img" alt="">
					
				</div>
				<div class="col s12 m6">
						
					<div class="card-panel login" style="display:none">

						<center>
							<img src="img/appLogo.png" class="logo responsive-img center" alt="">
							<a href="#" class="btn center waves-effect waves-light blue">Inciar sesion con Facebook</a>
						</center>
					<div class="row">


		        		<!-- nombre usuario -->
		        		<div class="input-field col s10 offset-s1">
		        			<i class="material-icons prefix">account_circle</i>
		         			 <input  id="usuario" type="text" class="validate">
		          			<label for="usuario">Nombre del Usuario</label>
		        		</div>
		        		<!-- password -->
		        		<div class="input-field col s10  offset-s1">
		        			<i class="material-icons prefix">lock</i>
		         			 <input  id="password" type="password" class="validate">
		          			<label for="password">Contrasena</label>
		        		</div>
					</div>

					</div>


					<div class="card-panel login registro" style="display:none">
						<p class="center-align"> <span class="azul">No tienes cuenta?</span> <a href="#">Registrate</a></p>
					</div>
					
					<!-- registro -->
					<div class="card-panel login">
						<center>
							<img src="img/appLogo.png" class="logo responsive-img center" alt="">
						</center>
					<div class="row">
		        		<!-- email -->
		        		<div class="input-field col s10 offset-s1">
		        			<i class="material-icons prefix">email</i>
		         			 <input  id="email" type="email" class="validate">
		          			<label for="email">Correo</label>
		        		</div>	
		        		<!-- nombre completo -->
		        		<div class="input-field col s10 offset-s1">
		        			<i class="material-icons prefix">account_circle</i>
		         			 <input  id="nombre" type="text" class="validate">
		          			<label for="nombre">Nombre Completo</label>
		        		</div>
		        		<!-- nombre usuario -->
		        		<div class="input-field col s10 offset-s1">
		        			<i class="material-icons prefix">account_circle</i>
		         			 <input  id="usuario" type="text" class="validate">
		          			<label for="usuario">Nombre de Usuario</label>
		        		</div>
		        		<!-- password -->
		        		<div class="input-field col s10  offset-s1">
		        			<i class="material-icons prefix">lock</i>
		         			 <input  id="password" type="password" class="validate">
		          			<label for="password">Contrasena</label>
		        		</div>
		        		
		        		
					</div>

					</div>

					<div class="card-panel login registro">
						<p class="center-align"> <span class="azul">Tienes una cuenta?</span> <a href="#">Entra</a></p>
					</div>


				</div>
			</div>
		</div>

		
	</div>
</div>

	
</body>
<script src="js/jquery.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/index.js"></script>
</html>