<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>Sucregram</title>
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="navbar-fixed">
    <nav class="grey darken-4">
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo center"> <img src="img/titlei.png" class="responsive-img"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Entrar</a></li>
        </ul>
      </div>
    </nav>
  </div>

<div class="container">
	<div class="row">
		<div class="col s12 m4">
			  <a class="modal-trigger waves-effect waves-light" href="#modal1">
				<img src="img/sucre.png" class="responsive-img" alt="">
			  </a>
			  <div id="modal1" class="modal modal-fixed-footer">
			    <div class="modal-content">
				   	<div class="row">
				    	<div class="col s8">
				      		<img src="img/alienware3.jpg" class="responsive-img img-modal" alt="">
				   		 </div>
				   		 <div class="col s4">
				   		 	<div class="row">
				   		 		<div class="col s3">
				   		 			<img src="img/sucre.png" class="responsive-img circle" alt="">
				   		 		</div>
				   		 		<div class="col s9">
				   		 			<p>JavaScript_Sucre</p>
				   		 		</div>
				   		 	</div>
				   		 </div>		
				    </div>
			    </div>
			    
			  </div>
		</div>
		<div class="col s12 m4">
			  <a class="modal-trigger waves-effect waves-light" href="#modal2">
				<img src="img/sucre.png" class="responsive-img" alt="">
			  </a>
			  <div id="modal2" class="modal modal-fixed-footer">
			    <div class="modal-content">
			    <div class="row">
			    	<div class="col s9">
			      		<img src="img/sucre.png" class="responsive-img img-modal" alt="">
			   		 </div>
			   		 <div class="col s3">
			   		 	<div class="row">
			   		 		<div class="col s3">
			   		 			<img src="img/sucre.png" class="responsive-img circle" alt="">
			   		 		</div>
			   		 		<div class="col s9">
			   		 			<p>JavaScript_Sucre</p>
			   		 		</div>
			   		 	</div>
			   		 </div>		
			    </div>

			    </div>
			    <div class="modal-footer">
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
			    </div>
			  </div>
		</div>
		<div class="col s12 m4">
			  <a class="modal-trigger waves-effect waves-light" href="#modal1">
				<img src="img/sucre.png" class="responsive-img" alt="">
			  </a>
			  <div id="modal1" class="modal modal-fixed-footer">
			    <div class="modal-content">
			      <h4>Modal Header</h4>
			      <p>A bunch of text</p>
			    </div>
			    <div class="modal-footer">
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
			    </div>
			  </div>
		</div>
	</div>
</div>

	
</body>
<script src="js/jquery.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/index.js"></script>
</html>