<div class="container white" ng-controller="empresaCtrl" ng-init="find();">
	<div class="row">
		<h3 class="center-align">LISTA DE EMPRESAS</h3>
		<div class="col s12 m4" ng-repeat="d in data">
			<div class="card small">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" ng-src="material/imgEmpresas/{{d.photo}}" alt="">
				</div>

				<div class="card-content">
					<h6 class="activator">{{d.name}} <i class="material-icons right">more_vert</i></h6>
					<span class="card-title activator"><!--<i class="material-icons right">more_vert</i>--></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{d.name}} <i class="material-icons right">close</i></span>
					<p>{{d.detail}} </p>
				</div>
				<div class="card-action">
					<a ng-href="/bolsa-de-trabajo/empresa/{{d.id}}"><i class="material-icons left">info_outline</i></a>
					<a ng-href="/bolsa-de-trabajo/trabajos/empresa/{{d.id}}"><i class="material-icons right">work</i></a>
				</div>
			</div>
		</div>


	</div>
</div>

<!--<div class="carousel carousel-slider">
	<a class="carousel-item" href="#one!"><img src="http://lorempixel.com/800/400/city/1"></a>
	<a class="carousel-item" href="#two!"><img src="http://lorempixel.com/800/400/city/2"></a>
	<a class="carousel-item" href="#three!"><img src="http://lorempixel.com/800/400/city/3"></a>
	<a class="carousel-item" href="#four!"><img src="http://lorempixel.com/800/400/city/4"></a>
</div>-->

<script>
	$(document).ready(function() {
		$('.carousel.carousel-slider').carousel({full_width: true});
	});
</script>