<div class="container contenido animated fadeIn">
	<div class="row">
		<div class="col s12">
			<div class="row">
				<div class="col offset-m1 m4 hide-on-small-only ">
					
  						<img src="vendor/img/iphone.png" class="responsive-img" alt="">
					
				</div>
				<div class="col s12 m6">
					
					<!-- Sign in -->
					<div class="card-panel login">

						<center>
							<img src="vendor/img/appLogo.png" class="logo responsive-img center" alt="">
							<a href="#" class="btn center waves-effect waves-light blue">Inciar sesion con Facebook</a>
						</center>
						<div class="row">


			        		<!-- nombre usuario -->
			        		<div class="input-field col s10 offset-s1">
			        			<i class="material-icons prefix">account_circle</i>
			         			 <input  id="usuario" type="text" class="validate" ng-model="user">
			          			<label for="usuario">Nombre del Usuario</label>
			          		</div>
			        		<!-- password -->
			        		<div class="input-field col s10  offset-s1">
			        			<i class="material-icons prefix">lock</i>
			         			 <input  id="password" type="password" class="validate" ng-model="pass">
			          			<label for="password">Contrasena</label>
			        		</div>
							
							<center>
								<a href="#" class="btn center waves-effect waves-light blue" ng-click="ingresar()">Entrar</a>
							</center>

						</div>
					</div>
					<div class="card-panel login registro">
						<p class="center-align"> <span class="azul">No tienes cuenta?</span> <a href="signup/">Registrate</a></p>
					</div>

				</div>
			</div>
		</div>

		
	</div>
</div>